<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <% messages.forEach((message, index) => { %>
      <li>
        <strong><%= message.user %>:</strong> <%= message.text %> 
        <em>(<%= message.added.toDateString() %>)</em>
        <a href="/message/<%= index %>">Open</a>
      </li>
    <% }) %>
  </ul>
  <a href="/new">Add New Message</a>
</body>
</html>
